<%= page_title 'My Clubs' %>
<% global_css_js_file 'autogrid/bootstrap' %>

<%= render_autogrid @grid do |g|
  g.col :name, :format => :link
  g.col 'user.email' do |col,val|
    link_to val, col.model.user
  end

end %>

<div class="form-actions">
  <%= link_to 'Create Club', new_club_path, :class => 'btn btn-primary' %>
</div>