= page_title 'My Clubs'



- if @clubs.any?
  = grid @grid do |g|
    - g.column name: 'Name', attribute: 'name'
    - g.column name: 'Description', attribute: 'description'
    - g.column name: 'Owner', attribute: 'last_name', model: User do |club|
      - club.user.full_name
    - g.column name: 'Member Since', attribute: 'created_at' do |club|
      - club.created_at.to_date
    - g.column name: 'Actions' do |club|
      - link_to 'View', club, class: 'btn btn-small'


- else
  %p
    %b You don't have any clubs!
    Click the link below to make a club.

.form-actions
  = link_to 'Create Club', new_club_path, class: 'btn btn-primary'