= page_title 'My Clubs'



- if @clubs.any?
  = grid @grid do |g|
    - g.column name: 'Name', attribute: 'name' do |club|
      - link_to club.name, club
    - g.column name: 'Description', attribute: 'description' do |club|
      - truncate club.description
    - g.column name: 'Owner', attribute: 'last_name', model: User do |club|
      - club.user.full_name
    - g.column name: 'Club Since', attribute: 'created_at' do |club|
      - club.created_at.to_date



- else
  %p
    %b You don't have any clubs!
    Click the link below to make a club.

.form-actions
  = link_to 'Create Club', new_club_path, class: 'btn btn-primary'