= page_title "Events", @curr_club.name

- if @events.any?
  = grid @grid do |g|
    - g.column name: 'Name', attribute: 'name'
    - g.column name: 'Start Time', attribute: 'meeting_start'
    - g.column name: 'Stop Time', attribute: 'meeting_stop'
    - g.column name: 'Attendance', attribute: 'id', model: Attendance, filter: false do |event|
      - event.attendance_count
    - g.column do |event|
      - link_to 'View', event, class: 'btn btn-small'

- else
  %p
    %b You don't have any events!
    Click the link below to make an event.



.form-actions
  = link_to 'New Event', new_event_path, class: 'btn btn-primary'
  = link_to 'Cancel', @curr_club, class: 'btn'