@form-field-width: 200px;

#register-area {
  padding-top: 15px;
  .pre-header {
    color: #666;
    margin-bottom: 10px;
    .club-name {
      float: right;
    }
  }

  
  #asurite {
    width: 600px;
    padding: 10px;
    font-size: 18px;
  }
  
  #email-text {
   font-size: 18px; 
  }
  
  .help-text {
    padding: 0px;
    margin-top: 0;
    font-size: 12px;
    color: #333;
  }
  
  form {
    margin-bottom: 0;
  }

  .label-magic label, .field-magic input {
    width: @form-field-width;
  }

  .label-magic label {
    width: @form-field-width + 20;
    font-size: 12px;
    color: #333;
    font-weight: bold;
    line-height: auto;
    margin: 0;
  }

  .label-magic {
    margin-left: 3px;
  }
  
  #user-information {
    display: none;
  }
}