<%= page_title "Members", @curr_club.name %>
<% global_css_js_file 'autogrid/bootstrap' %>
<%= render_autogrid @grid do |g|
  g.col :email do |c,val|
    link_to val, "mailto:#{val}"
  end
end %>

<div class="form-actions">
  <%= link_to "Cancel", @curr_club, :class => 'btn' %>
</div>